# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Odoo
*.pyc
*.pyo
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log